section#contacts.contacts
	h2.contacts__title Контакты
	h3.contacts__subtitle Остались вопросы?
	.contacts__container.container
		form.contacts-form
			span.contacts-form__text Заполните форму ниже и наш кондитер свяжется с Вами
			label
				input(
					type="text"
					name="user-name"
					autocapitalize="on"
					placeholder="Ваше имя"
					required
				).contacts-form__box
			label
				input(
					type="email"
					name="user-email"
					autocapitalize="off"
					autocorrect="off"
					placeholder="Email адрес"
					required
				).contacts-form__box
			textarea(
				rows="5"
				name="user-text"
				placeholder="Ваш вопрос"
			).contacts-form__box
			button(type="submit").contacts-form__btn Отправить
		.contacts__textblock.contacts-textblock
			span.contacts-textblock__phonetext Или звоните по телефону<br>
			a(href="+79068999296").contacts-textblock__phone +7 906 899 92 96<br>
			span.contacts-textblock__mailtext Наша почта:<br>
			a(href="mailto:bakerybypavel@mail.ru").contacts-textblock__mail bakerybypavel@mail.ru<br>
			span.contacts-textblock__socialtext Мы в соц. сетях:<br>
			.contacts-textblock__socials.contacts-socials
				a(href="#").contacts-socials__instagram
					i.icon-instagram
				a(href="#").contacts-socials__vkontakte
					i.icon-vkontakte

